<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="/style.css">
<style>
.mermaid text {
  font-size: 1rem!important;
}
</style>
</head>

<body>

  {% include "sidebar.html" %}

  <section class="section">
    <div id="primary-content" class="container content">
      {% if config.extra.dump_tera_context %}
      <pre><code class="tera-context">
      {{ __tera_context }}
      </code></pre>
      {% endif %}

      {% block content %} {% endblock %}
    </div>
  </section>

	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script>mermaid.initialize({securityLevel: 'loose', startOnLoad:true, theme: 'dark', themeVariables: { fontSize: 20 }});</script>
</body>

</html>
