{% extends "base.html" %}

{% block content %}
<style>
div.sidebar::after {
  content: "";
  background-image: url('mask-bw.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}
</style>
<h1 class="title">
  Personal site of David Stelter
</h1>

<p>
I'm a software engineer living in Portland, OR. When I'm not programming, I'm building things or playing with my cats.
</p>

{% if section.subsections %}
<nav>
  <ul>
  {% for subsection in section.subsections %}
    {% set section = get_section(path=subsection) %}
    <li>
      <a href="{{ section.path }}">{{ section.title }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

<p>Click <a href="/blog/">here</a> to see my posts.</p>
{% endblock content %}
