{% extends "base.html" %}

{% block content %}
{% if section.extra.background_image %}
<style>
article.section-content::after {
  content: "";
  background-image: url('{{section.extra.background_image}}');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
}
</style>
{% endif %}

{% if section.extra.sidebar_background_image %}
<style>
div.sidebar::after {
  content: "";
  background-image: url('{{section.extra.sidebar_background_image}}');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}
</style>
{% endif %}

{% if config.extra.template_debug %}
<pre><code>
section.html section.relative_path: {{ section.relative_path }}
{{ section }}
</pre></code>
{% endif %}

  <article class="section-content">
    <h1 class="title">{{ section.title }}</h1>

    {% if section.description %}
    <h2 class="description">{{ section.description }}</h2>
    {% endif %}

    {{ section.content | safe }}
  </article>
{% endblock content %}


{# borrowed from https://github.com/getzola/book/blob/master/templates/section.html #}
